/* Top Navigation */
.top__nav{
  display: flex;
  background-color:#eee;
  position: fixed;
  min-height: 70px;
  padding: 0rem 1.25rem;
  margin-bottom: 6.25rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.info__section {
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__section > img{
  margin-left: 0.625rem;
}

img{
  cursor: pointer;
}

.logo__info{
  display: flex;
  align-items: center;
}

#logo__name{
  margin-left:0.625rem;
}


/* width */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;

}

/* ScrollBar Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* ScrollBar Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet; 
}

/* ScrollBar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(137, 43, 226, 0.548); 
}


/* Media Queries */
@media screen and (max-width: 600px) {
  #logo__name{
    font-size: 0.9rem;
  }
}