.top__nav{
  display: flex;
  background-color:#eee;
  position: fixed;
  min-height: 70px;
  padding: 0px 20px;
  margin-bottom: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo__info{
  display: flex;
}

#logo__name{
  margin-left: 10px;
}

